.mainrank{
   
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 30px;
    width: 80%;
    
  }
  
  .rank , .prize , .inr{
    border: 1px solid black;
    flex-basis: 33.33%;
  }
  
  .mainrange{
    display:flex;
    margin-top: 15px;
  }
  
  .mainrange p{
    margin-left: 15px;
  }
  
  .mainrange input{
    height: 30px;
    margin-left:10px
  }
  
  
  .mainAdv{
  
    display: flex;
   flex-direction: column;
  
  }
  .double {
    zoom: 0.9;
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -moz-transform: scale(2);
    transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
  }
  
  .mvp{
   width: 100%;
   display: flex;
   flex-direction: row;
   margin: 10px;
   padding-left: 50px;
   
  }
  
  .mvp input{
  margin: 5px ;
  padding: 5px;
  }
  
  


  .column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  
  
  
